/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;500;600;700;800;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* font-family: 'Lexend Deca', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

/* body {
  width: 100%;
} */

:root {
  --blue: #007BFF;
  --gray: rgb(115, 114, 120);
  --black: rgb(45, 46, 50);
}

/* Utility class */
.primary-btn {
  background: var(--blue);
  color: white;
  border: none;
  padding: 13px 12px;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.primary-btn:hover {
  background: rgb(40, 102, 173);
}

.primary-btn i {
  margin-left: 3px;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 100;
  padding: 25px 5%;
}

.logo p {
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
}

.links ul {
  display: flex;
}

.links ul li {
  margin-right: 30px;
}

.links ul li a {
  color: #000;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.main-container {
  padding: 4rem 15%;
}

/* hero */
.hero-container {
  height: 100vh;
}

.hero-container .hero-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  position: relative;
}

.hero-container .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

@keyframes waving {
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
}

.hero-text h1 .waving-hand {
  margin:10px 0 0 20px;
  width: 3.5rem;
  height: 3.5rem;
  animation: waving 3s ease-in-out infinite;
}


.hero-text h1 {
  color: #2d2e32;
  font-size: 55px;
  line-height: 0.8;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.hero-text p {
  color: #555;
  font-family: Mulish,sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}

.hero-text .hero-btn {
  background: var(--blue);
  color: white;
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  width: 30%;
  margin: 3rem 0;
}

@keyframes wavy {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 40% 30%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.hero-container .hero-img {
  -webkit-animation: wavy 8s ease-in-out infinite;
  animation: wavy 8s ease-in-out infinite;
  /* Rest of your existing CSS code */
  background-image: url(images/profile2.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 20rem;
  position: relative;
  transition: all 1.5s ease-in-out;
  width: 29rem;
}

.hero-container span {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  font-size: 30px;
  color: var(--black);
}


/* About me */
.about-me {
  height: 100vh;
}

.about-me h1 {
  font-size: 44px;
  color: var(--black);
  text-align: center;
}

.about-me p {
  text-align: center;
  color: var(--black);
}

.about-me .content {
  display: flex;
  padding-top: 40px;
  gap: 30px;
}

.about-me .content img {
  flex-basis: 47%;
  width: 25rem;
  height: 25rem;
  border-radius: 10px;
  object-fit: cover;
}

.about-me .text {
  flex-basis: 50%;
}

.about-me .content h3 {
  font-size: 25px;
  line-height: 1.4;
  color: var(--black);
  margin-bottom: 2rem;
}

.about-me .content p {
  color: var(--gray);
  line-height: 1.5;
  text-align: left;
}



/* skills */
.skills {
  height: 100vh;
}

.skills h1 {
  font-size: 44px;
  color: var(--black);
  text-align: center;
}

.skills p {
  text-align: center;
  color: var(--black);
}

.skills .skills-container {
  display: flex;
  gap: 30px;
  padding-top: 40px;
}

.skills .card {
  flex: 1;
  border-radius: 10px;
  padding: 20px 10px 80px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.skills .card .header {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.skills .card .header i {
  color: var(--blue);
  font-size: 1.8rem;
  padding-right: 15px;
}

.skills .card h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
}

.skills .card .body {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  padding-top: 20px;
}

.skills .card .body div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills img {
  width: 50px;
}

.skills span {
  font-size: 14px;
  color: var(--black);
}




/* Media query */
@media (max-width: 600px) {
  .main-container {
    padding: 0 20px;
  }

  .hero-container {
    padding-top: 50px;
  }

  .hero-container .hero-main {
    flex-direction: column-reverse;
    gap: 5px;
  }

  .hero-container .hero-text {
    text-align: center;
    align-items: center;
  }

  .hero-text img {
    display: none;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .hero-container .hero-img {
    -webkit-animation: wavy 8s ease-in-out infinite;
    animation: wavy 8s ease-in-out infinite;
    /* Rest of your existing CSS code */
    background-image: url(images/profile4.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 13rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 13rem;
  }

  .hero-text .hero-btn {
    width: 50%;
    padding: 10px;
  }


  /* about me */
  .about-me .content {
    flex-direction: column;
  }

  .about-me .content img {
    width: auto;
  }


  /* skills */
  .skills-container {
    flex-direction: column;
  }
}
